@import url('https://fonts.googleapis.com/css?family=PT+Mono');


.logo {
    position: relative;
    width: 30%;
    margin-left: 35%
}

#navLogo{
    width: 40px
}

h1, h3, h4 {
    font-family: "PT Mono";
    text-align: center;
}